*.directory
*.log
*.sql
*.sqlite
*.uuid

*.png
*.svg
*.jpg
*.bak

/archive/
/xfce/
/nvim/

**/.config/my_display/brightness
**/.config/redshift/redshift.conf

**/.config/gtk-3.0/bookmarks

**/.config/alacritty/themes/
**/.config/alacritty/my-themes/
**/.config/alacritty/prot-themes/
**/.config/alacritty/.archive/

emacs/.emacs.d/site-lisp/
emacs/.emacs.d/elpa/
emacs/.emacs.d/avatars/
emacs/.emacs.d/data/
emacs/.emacs.d/games/
emacs/.emacs.d/racket-mode/
emacs/.emacs.d/persistent-scratch/
emacs/.emacs.d/tree-sitter/
emacs/.emacs.d/newsticker/
emacs/.emacs.d/.persistent-scratch
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/.cache/
emacs/.emacs.d/savehist
emacs/.emacs.d/custom.el
emacs/.emacs.d/places
emacs/.emacs.d/projects
emacs/.emacs.d/recentf
emacs/.emacs.d/history
emacs/.emacs.d/transient/
emacs/.emacs.d/eln-cache/
emacs/.emacs.d/session*

**/.config/gh/hosts.yml

**/.config/libvirt
**/.config/vlc
**/.config/calibre/
**/.config/liferea/
**/.config/qbittorrent/
**/.config/qBittorrent/
qBittorrent

term-apps/.urxvt
term-apps/.config/btop/
term-apps/.config/instaloader
term-apps/.config/exercism
term-apps/.config/zellij/themes
term-apps/.config/tmux/plugins
term-apps/.tmux
term-apps/.peaclock/history/

**/.config/mpd/database
**/.config/mpd/log
**/.config/mpd/pid
**/.config/mpd/playlists/**
**/.config/mpd/state
**/.config/mpd/sticker.sql
**/.config/ncmpcpp/error.log
**/.config/ncmpcpp/lyrics
**/.config/jellyfin.org/
**/.config/jellyfinmediaplayer/

xorg-twm/.config/bspwm/
xorg-twm/.config/qtile/
xorg-twm/.config/herbstluftwm/archive/
xorg-twm/.config/herbstluftwm/reference/
xorg-twm/.config/herbstluftwm/assets/
xorg-twm/.config/herbstluftwm/herbs-scripts-ghub/
xorg-twm/.config/herbstluftwm/mod-scripts/

xorg-twm/.config/xmonad/archive
xorg-twm/.config/xmonad/.stack*
xorg-twm/.config/xmonad/xmonad/
xorg-twm/.config/xmonad/xmonad-contrib/

**/.config/*/*_history
**/.config/zsh/.zcompdump
/emacs/.emacs.d/.emacs.desktop
/emacs/.emacs.d/emacs-todo.org
/emacs/.emacs.d/emasc-inst-pkgs.txt
/emacs/.emacs.d/eshell/history
/gui-apps/.config/archlinux-logout/
/media/.config/mpv/watch_later/
/personal/.config/gh-dash/
/personal/.config/gh/
/personal/.keys
/scripts/.local/bin/greenclip
/vim/.config/nvim/
/xorg/.config/X11/xsession-errors
*_history
