.emacs.d/site-lisp/
.emacs.d/elpa/
.emacs.d/avatars/
.emacs.d/data/
.emacs.d/games/
.emacs.d/racket-mode/
.emacs.d/persistent-scratch/
.emacs.d/tree-sitter/
.emacs.d/newsticker/
.emacs.d/.persistent-scratch
.emacs.d/auto-save-list/
.emacs.d/.cache/
.emacs.d/savehist
.emacs.d/custom.el
.emacs.d/places
.emacs.d/projects
.emacs.d/recentf
.emacs.d/history
.emacs.d/transient/
.emacs.d/session*
